<!-- Basic Content Projection -->
<h1>Basic Content Projection</h1>
<h2>Hello world AppComponent</h2>
<app-my-card>
  <h3>Basic Content Projection from AppComponent</h3>
</app-my-card>
<hr>
<hr>
<hr>
<h1>Content Projection with names</h1>
<h2>Hello world AppComponent</h2>
<app-my-card>
  <h3 customName>Content Projection with names from AppComponent</h3>
</app-my-card>
<hr>
<hr>
<hr>

<!--
  Content projection, single, multiple with selects, and conditions
<button (click)="show = !show">Toggle app.component.ts show</button>
<app-my-card>
  <app-my-dumb name="alejandro" *ngIf="show"></app-my-dumb>
</app-my-card>
<button (click)="miVariable = miVariable+1">Suma</button>

-->